<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>892940816101-c8om3lruiv988e2q8ud0it8e27c4hqlm.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.892940816101-c8om3lruiv988e2q8ud0it8e27c4hqlm</string>
	<key>API_KEY</key>
	<string>AIzaSyCdBghIqzGG8ovSi-U6h-pGXgIX3sNmWJo</string>
	<key>GCM_SENDER_ID</key>
	<string>892940816101</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.gmail-michaeldichiara3.HtownFarmersMarkets</string>
	<key>PROJECT_ID</key>
	<string>htx-farmers-markets</string>
	<key>STORAGE_BUCKET</key>
	<string>htx-farmers-markets.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:892940816101:ios:12cad29c7506c73e7ece0c</string>
</dict>
</plist>